/*

Pure Menu Customization

*/
.pure-padded-container{
	padding: 5px;
	margin: 10px;
	width: 90%
}

.pure-float-right{
	float: right;
}

.pure-float-left{
	float: left;
}

.pure-menu-selected{
	font-weight: 800;
	color : white !important;
	background-color: rgba(10,100,200,1);
}

.pure-inline {
	display: inline;
}

.pure-tag-mini{
	font-size: 10px;
	background-color: rgba(10,100,200,1);
	white-space: normal;
	border-radius: 10px;
	text-align: center;
	color: white;
	margin: 1px;
	padding: 1px;
	display: inline-block;
	overflow: hidden;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(10,80,180,1);
}

.pure-tag-mini-green{
	font-size: 15px;
	background-color: rgba(10,100,200,1);
	white-space: normal;
	border-radius: 10px;
	text-align: center;
	color: white;
	margin: 2px;
	padding: 4px;
	display: inline-block;
	overflow: hidden;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(10,80,180,1);
}
.pure-button-mini{
	font-size: 8px;
	background-color: rgba(200,100,100,1);
	border-radius: 10px;
	margin: 1px;
	padding: 4px;
	border-style: none;
}

.pure-item{
	background-color: rgba(10,100,200,0.2);
	margin: 5px !important;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(10,100,200,1);
	border-radius: 4px;
	color: black !important;
	overflow: hidden;
}

.pure-item:hover{
	background-color: rgba(10,100,200,0.4) !important;
}

.pure-item-selected{
	border-style: solid !important;
	border-width: 2px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	background-color: rgba(10,100,200,0.6) !important;
	color: rgba(10,100,200,1);
}

.pure-item-selected:hover{
	background-color: rgba(10,100,200,0.8) !important;
	color: rgba(10,100,200,1);
}

.pure-test-selected{
	border-style: solid !important;
	border-width: 4px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	background-color: rgba(10,100,200,0.6) !important;
	color: rgba(200,240,250,1) !important;
	font-weight: 800;
}

.pure-test-selected:hover{
	background-color: rgba(10,100,200,1) !important;
	color: white !important;
}

.pure-button-item{
	background-color: rgba(10,100,200,0.2) !important;
	margin: 3px; 
	padding: 5px;
	border-style: solid !important;
	border-width: 2px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	color: rgba(10,100,200,1) !important;
	float: right; 
}

.pure-button-option-selected{
	border-style: solid !important;
	border-width: 2px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	background-color: rgba(10,100,200,0.4) !important;
	color: rgba(10,100,200,1);
}

.pure-button-tag-selected{
	border-style: solid !important;
	border-width: 2px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	background-color: rgba(10,100,200,0.4) !important;
	color: rgba(10,100,200,1);	
}

.pure-button-option:hover{
	background-color: rgba(10,100,200,0.2);
	color: rgba(10,100,200,1);
}

.pure-button-option{
	background-color: rgba(10,100,200,0.05);
	margin: 2px;
	padding: 8px;
}

.pure-button-tag{
	background-color: rgba(10,100,200,0.05);
	margin: 2px;
	padding: 8px;
}

.pure-button-tag:hover{
	background-color: rgba(10,100,200,0.2);
	color: rgba(10,100,200,1);
}
.pure-button-item:hover{
	background-color: rgba(10,100,200,0.4);
}

.pure-wireframe-blue{
	margin: 3px;
	padding: 5px;
	border-style: solid !important;
	border-width: 1px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	width: 95%;
}


/* login css */

.login-container {
	position: fixed;
	right: 0;
	top: 0;
	width: 35%;
	z-index: 1;
}

.login-link-and-dropdown-list{
	margin : 5px;
	padding: 5px;
	background-color: rgba(200,220,250,1);
}

.login-link-text {
	color: rgba(10,100,200,1);
}

.accounts-dialog {
	margin : 2px;
	padding: 1px;
	display: block;
}

.login-close-text {
	display: block;
	margin: 3px;
	width: 100%;
	padding: 3px;
	border-radius: 10px;
	background-color: rgba(10,100,200,0.2);
}

.login-close-text:hover{
	background-color: rgba(10,100,200,0.5);
}

.login-form {
	margin: 2px;
	padding: 2px;
	width: 100%;
}

#login-email-label-and-input {
	margin: 2px;
	padding: 2px;
	width: 80%;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	background-color: rgba(10,100,200,0.2);
	border-color: rgba(10,100,200,1);
	color : rgba(10,10,100,1);
}

#login-password-label-and-input {
	margin: 2px;
	padding: 2px;
	width: 80%;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	background-color: rgba(10,100,200,0.2);
	border-color: rgba(10,100,200,1);
	color : rgba(10,10,100,1);
}

.login-button {
	margin: 3px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	background-color: rgba(10,100,200,0.5);
	color: white;
	border-color: rgba(10,100,200,1);
	text-align: center;
	border-radius: 20px;
}

.additional-link {
	margin: 2px;
	padding: 2px;
	text-decoration: underline;
	color : rgba(10,100,200,1);
}

.additional-link:hover{
	color: rgba(10,10,100,1);
}
.error-message {
	font-size: 10px;
	color: red;
}

/**
Other UI Elements


*/

/*Notification text*/
.state-text {
	position : fixed;
	top : 0;
	right: 5px;
	width: 200px;
	color: rgba(10,200,100,1);
	text-align: center;
	font-size: 20px;
	padding: 10px;
	margin: 5px;
	background-color: rgba(200,250,220,1);
	border-style: solid;
	border-color: rgba(10,200,100,1);
	border-width: 2px;
	display: none;
	z-index: 10;
}

.key-advice {
	font-size: 10px;
}

.key-advice-bl {
	font-size: 7px;
	display: block;
}

.pure-menu-item h3 {
	padding: 0px;
	margin: 0px;
	color : rgba(10,100,200,1);
	font-variant: small-caps;
	display: inline;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.pure-menu-item p {
	padding: 0px;
	margin: 0px;
	color : black;
	display: inline-block;
	font-size: 11px;
	white-space: normal;
}

.custom-test-presentation p {
	padding: 5px;
	margin: 5px;
	color : black;
	font-variant: small-caps;
	display: block;
	font-size: 11px;
	white-space: normal;
	word-wrap: break-word;
}



/*
Verified GUI for item bullers

*/

.pure-item-bullet{
	background-color: rgba(20,110,160,0.4);
	border-radius: 20px;
	margin: 10px;
	padding: 10px;
}

.pure-item-nametag {
	font-size: 15px;
	display: inline;
}

.pure-item-desctag {
	font-size: 10px;
	display: inline;
}

.pure-item-text {
	font-size: 15px;
	margin: 0px;
	padding: 5px;
	text-align: justify;
	color:rgba(20,50,100,1);
	border-style: none none solid none;
	border-width: 1px;
}

.pure-item-quest {
	font-size: 24px;
	text-align: right;
}

.pure-item-options ul {
	list-style-type: circle;
}

.pure-item-options p {
	font-style: italic;
	font-size: 10px;
	text-align: right;
}

.pure-item-options li {
	background-color: rgba(20,110,160,0.4);
	margin: 2px;
	padding: 4px;
}

.pure-item-options {
	margin: 0px;
	padding: 0px;
	border-style: solid none none none;
	border-width: 1p
	x;
	border-color: rgba(20,50,100,1);
	color: rgba(20,50,100,1);
}

/*

		academic-signature 

	An UI family. By Juan Liberato && Sandra Guayambuco

font family
'Alegreya' For content
'Cinzel'  For Titles

Things to need 

- Lists , for content like the lists of items

- Navbar, for the navbar of the app.

- Content-Container , to show a item, a container is used , content container styles
					  the whole sheet tree.
- Button, for the beautifull buttons

Tha'ts it.

*/

@keyframes nbar {
	0%  {
		box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,0);
	}
	50% {
		box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,1);
	}
	100%{
		box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,0);
	}
}

@keyframes nbar2 {
	0%  {
		box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,0);
	}
	50% {
		box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,1);
	}
	100%{
		box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,0);
	}
}
.signature-navbar{
background-color: rgba(200,200,200,0.1);
color: white !important;
-webkit-box-shadow: inset 0px 0px 62px -21px rgba(0,0,0,1);
-moz-box-shadow: inset 0px 0px 62px -21px rgba(100,100,100,0.1);
box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,1);
}

.signature-navbar-unit {
	color: rgba(255,255,255,1);
	font-size: 17px;
	font-weight: 900;
	font-variant: small-caps;
	font-family: 'Cinzel', serif;
	text-decoration: none;
	text-shadow: 2px 2px 1px rgba(100,100,100,1);
	display: inline;
	padding: 6px;
	margin: 1px;
	border-width: 1px;
	animation-name: nbar;
	animation-duration : 4s;
	animation-play-state: paused;
	
}

.signature-navbar-unit:hover {
	background-color: rgba(245,245,245,1);
	margin: 0px;
	box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,0);
	border-style: dotted;
	animation-name: nbar2;
	animation-duration : 1s;
	animation-play-state: running;
}


.signature-list{
	/*this is a paper element*/
	color: black !important;
	border-width: 1px;
	border-style: solid;
	border-top-color: rgba(200,200,200,1);
	border-bottom-color: rgba(150,150,150,1);
	background-color: rgba(200,200,200,0.1);
	-webkit-box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 32px -25px rgba(0,0,0,0.5);
}

@keyframes example {
	0%  {
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
		background-color: rgba(200,200,200,0.15);
	}
	50% {
		box-shadow: 3px 3px 9px 0px rgba(0,0,0,1);
		background-color: rgba(250,250,250,0);
	}
	100%{
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
		background-color: rgba(200,200,200,0.15);
	}
}

@keyframes example2 {
	0%  {
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
		background-color: rgba(200,200,200,0.15);
	}
	50% {
		box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.7);
		background-color: rgba(240,240,240,0);
	}
	100%{
		box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
		background-color: rgba(200,200,200,0.15);
	}
}

.signature-list-unit {
	padding: 7px;
	font-family: 'Alegreya', serif;
	margin: 5px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,1);
	background-color: rgba(200,200,200,0.15);
	animation-name: example;
	animation-duration : 4s;
	animation-play-state: paused;
}

.signature-list-unit:hover {
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.5);
	background-color: rgba(200,200,200,0.15);
	animation-name: example2;
	animation-duration : 1s;
	animation-play-state: running;
}

.signature-list-unit:active {
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
	background-color: rgba(200,200,200,0.15);
}

.signature-list-unit h1 {
	padding: 10px;
	font-size: 22px;
	font-family: 'Cinzel', serif;
	color: rgba(50,50,50,1);
}

.signature-list-unit h2 {
	padding: 3px;
	font-size: 20px;
	font-family: 'Alegreya', serif;
	font-weight: 300;
}

.signature-list-unit h3 {
	font-family: 'Alegreya', serif;
	padding: 2px;
	font-size: 17px;
	color: rgba(50,50,50,1);
	font-weight: 300;
}

.signature-list-unit p {
	font-family: 'Alegreya', serif;
	font-weight: 400;
	color: rgba(50,50,50,1);
	font-style: italic;
	padding: 2px;
}

.signature-list-unit span {
	font-size: 10px;
	color: gray;
	font-family: 'Alegreya', serif;
}

/*Signature inline , permite ser añadido en una sencilla linea a todo*/
.sg-nlin {
	display: inline-block;
	margin: 0px 0px 0px 0px;
}

.sg-bulletless {
	list-style-type: none;
}
/*Signature button bar*/

.signature-btn-bar {
	display: inline-block;
}

.sg-btn-xl {
	font-size: 30px;
	font-family: 'Alegreya', serif;
}

.sg-btn-l {
	font-size: 23px;
	font-family: 'Alegreya', serif;
}

.sg-btn-m {
	font-size: 17px;
	font-family: 'Alegreya', serif;
}

.sg-btn-s {
	font-size: 14px;
	font-family: 'Alegreya', serif;
}

.sg-btn-xs {
	font-size: 11px;
	font-family: 'Alegreya', serif;
}

.sg-btn-rd{
	color: rgba(230,0,0,1);
	font-weight: 600;
	font-variant: small-caps;
	font-family: 'Cinzel', serif;
}

.sg-nlin-li{
	display: inline-block;
	margin: 0px;
	border-style: solid;
	border-width: 1px;
	padding: 6px;
	border-color: rgba(0,0,0,0.1);
	font-variant: small-caps;
	box-shadow: 2px 2px 10px -5px rgba(0,0,0,1);
}

.sg-titl-li {
	margin: 0pz;
	padding: 6px;
	font-family: 'Alegreya', serif;
	display: inline-block;
}
.sg-nlin-ul{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	
}

.sg-fl-r{
	float: right;
}

.sg-font-alegreya {
	font-family: 'Alegreya', serif !important;
}

.sg-font-cinzel {
	font-family: 'Cinzel', serif !important;
}

.sg-nopadding {
	padding: 0px !important;
}
/*
<div class="signature-btn-bar">
					<button class="sg-btn-bg"> Grande !</button>
					<button class="sg-btn-md"> Medio !</button>
					<button class="sg-btn-sm"> Pequeño !</button>
					<button class="sg-btn-rd sg-btn-md"> Alerta !</button>
				</div>
*/