/*

Pure Menu Customization

*/
.pure-float-right{
	float: right;
}

.pure-float-left{
	float: left;
}

.pure-menu-selected{
	font-weight: 800;
	color : white !important;
	background-color: rgba(10,100,200,1);
}

.pure-inline {
	display: inline;
}

.pure-tag-mini{
	font-size: 10px;
	background-color: rgba(10,100,200,1);
	white-space: normal;
	border-radius: 10px;
	text-align: center;
	color: white;
	margin: 1px;
	padding: 1px;
	display: inline-block;
	overflow: hidden;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(10,80,180,1);
}

.pure-item{
	background-color: rgba(10,100,200,0.2);
	margin: 5px !important;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(10,100,200,1);
	border-radius: 4px;
	color: black !important;
	overflow: hidden;
}

.pure-item:hover{
	background-color: rgba(10,100,200,0.4) !important;
}

.pure-item-selected{
	border-style: solid !important;
	border-width: 2px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	background-color: rgba(10,100,200,0.4) !important;
	color: rgba(10,100,200,1);
}

.pure-button-item{
	background-color: rgba(10,100,200,0.2) !important;
	margin: 3px; 
	padding: 5px;
	border-style: solid !important;
	border-width: 2px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	color: rgba(10,100,200,1) !important;
	float: right; 
}

.pure-button-option-selected{
	border-style: solid !important;
	border-width: 2px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	background-color: rgba(10,100,200,0.4) !important;
	color: rgba(10,100,200,1);
}

.pure-button-tag-selected{
	border-style: solid !important;
	border-width: 2px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	background-color: rgba(10,100,200,0.4) !important;
	color: rgba(10,100,200,1);	
}

.pure-button-option:hover{
	background-color: rgba(10,100,200,0.2);
	color: rgba(10,100,200,1);
}

.pure-button-option{
	background-color: rgba(10,100,200,0.05);
	margin: 2px;
	padding: 8px;
}

.pure-button-tag{
	background-color: rgba(10,100,200,0.05);
	margin: 2px;
	padding: 8px;
}

.pure-button-tag:hover{
	background-color: rgba(10,100,200,0.2);
	color: rgba(10,100,200,1);
}
.pure-button-item:hover{
	background-color: rgba(10,100,200,0.4);
}

.pure-wireframe-blue{
	margin: 3px;
	padding: 5px;
	border-style: solid !important;
	border-width: 2px !important;
	border-color: rgba(10,100,200,1) !important;
	border-radius: 10px !important;
	width: 95%;
}